[Unit]
Description=MRDT Base force-create router VLANs
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/pi/Documents/MRDT_Babel_Router/generated_configs/base_force_vlans.sh

[Install]
WantedBy=multi-user.target
