[Unit]
Description=MRDT Rover QoS (HTB) setup
After=rover_force_vlans.service frr.service
Wants=rover_force_vlans.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/pi/Documents/MRDT_Babel_Router/generated_configs/rover_qos.sh

[Install]
WantedBy=multi-user.target
